.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15px;
}

.input_container {
  display: flex;
  justify-content: space-between;
}

input {
  min-width: 350px;
  padding-left: 15px;
  height: 35px;
}

.definition_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
